.container {
  display: flex;
  flex-wrap: wrap;
}

.cardContainer {
  border: 1px solid gray;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  display: grid;
  gap: 10px;
  padding-bottom: 40px;
  margin-bottom: 20px;
}

.cartButton {
  background-color: #E10718;
  color: white;
  border: 0px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
  font-weight: 600;
}
